import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';
import '@fontsource-variable/montserrat';


.helperText{
/*margin-left: 0;*/
}
.MuiTextField-root p{
    
    margin-left: 0;
}
.MuiFormHelperText-root.Mui-error{
    color: aqua;

}
.MuiMobileStepper-dotActive{
    background-color: #FFFFFF !important;
}
.MuiMobileStepper-dots{
    background-color: #3F51B5 !important;
    border-color: #FFFFFF !important;
}
